<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<link rel="stylesheet" 
			  type="text/css" 
			  href="main.css">
    <title>Lakshmi</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	
</head>

<body>
		<ul>
  		
		  <link rel="apple-touch-icon" href="apple-touch-icon.png">
		  
				  <link rel="stylesheet" href="css/normalize.min.css">
				  <link rel="stylesheet" href="css/main.css">
				  <link rel="stylesheet" href="https:/maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  
				
					<li><a href="index">Home</a></li>
					<li><a href="Yourchoice">plans</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="guestbook">Guestbook</a></li>
 	    <li class="link"><a href="https://github.com/S530746"><img src="git.png" alt="git" height="40" width="40"></a></li>
        <li class="link"><a href="https://bitbucket.org/S530746/"><img src="bit.png" alt="bit" height="40" width="40"></a></li>
	</ul>

        
    <h1>
        Lakshmi's Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">Write in the guestbook</a>
    </h1>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>